[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/imgui-file-dialog"]
	path = external/imgui-file-dialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
